.one-input {
  input {
    width: 70%;
    padding: 0.5em;
    border-radius: 0.5em;
    outline: 0;
  }
  button {
    float: right;
    width: 20%;
    padding: 0.5em;
    border: none;
    background-color: #67bb2f;
    border-radius: 0.5em;
    outline: 0;
  }
}