.render-counter {
  position: absolute;
  bottom: 1em;
  color: black;
  font-size: 5em;
  border-radius: 0.1em;
  height: 1.2em;
  padding: 0 0.2em;
  background-color: #c3c3c3;
  box-shadow: 0 0 4px black;
}